.register-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 56px 0;
}

.register-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 320px;
  height: 400px;
}

.register-page_form {
  padding: 0 16px;
}

.register-page_f_i18n-username,
.register-page_f_i18n-email,
.register-page_f_i18n-password {
  font-size: 11.2px;
}

.register-page_f_username,
.register-page_f_email,
.register-page_f_password {
  display: flex;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.register-page_f_username-field,
.register-page_f_email-field,
.register-page_f_password-field {
  background: transparent;
  border: none;
  font: inherit;
  color: #ccc;
  width: 100%;
  padding: 12.8px 8px 4.8px;
  outline: none;
}

.register-page_f_i18n-username-check-button {
  margin: auto 6px 2.594px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12.8px;
  background-color: rgb(15, 66, 133);
  border: none;
  color: #ccc;
}

.register-page_f_i18n-username-check-button[disabled] {
  margin: auto 6px 2.594px;
  padding: 5px;
  border-radius: 5%;
  cursor: not-allowed;
  font-weight: bold;
  font-size: 12.8px;
  background-color: rgb(65, 65, 65);
  border: none;
  color: rgb(25, 25, 25);
}

.register-page_f_feedback-bar {
  height: 16px;
}

.register-page_f_fb_username,
.register-page_f_fb_email,
.register-page_f_fb_password {
  margin-top: 1px;
  margin-left: 14.4px;
  padding: 0 4px;
  color: rgb(163, 163, 163);
  font-size: 11.2px;
}

.register-page_f_eye-button {
  height: 32px;
  margin: auto 12px;
  cursor: pointer;
}

.register-page_f_opened-eye-icon {
  display: none;
}

.register-page_f_closed-eye-icon {
}

.register-page_f_submit-block {
  margin-top: 25.6px;
  text-align: center;
}

.register-page_f_i18n-submit-signup-button {
  display: inline-block;
  background-color: rgb(15, 66, 133);
  border: none;
  color: #ccc;
  font-weight: bold;
  width: 50%;
  padding: 8px;
  cursor: pointer;
}

.register-page_f_i18n-submit-signup-button[disabled] {
  display: inline-block;
  background-color: rgb(65, 65, 65);
  border: none;
  color: rgb(25, 25, 25);
  font-weight: bold;
  width: 50%;
  padding: 8px;
  cursor: not-allowed;
}

.register-page_terms-privacy-cookie-policies {
  font-size: 12.8px;
  padding: 0 16px;
  text-align: justify;
}

.register-page_i18n-terms-of-service,
.register-page_i18n-privacy-policy,
.register-page_i18n-cookie-policy {
  text-decoration: none;
  color: rgb(52, 140, 255);
}

.register-page_tpcp_i18n-first,
.register-page_tpcp_i18n-second,
.register-page_tpcp_i18n-third,
.register-page_tpcp_i18n-fourth {
}

.register-page_f_to-signin-block {
  display: inline-block;
  text-align: center;
}

.register-page_f_tsb_i18n-ahaa {
}

.register-page_f_tsb_i18n-signin-button {
  text-decoration: none;
  color: rgb(0, 110, 255);
  margin-left: 8px;
  cursor: pointer;
}

/* effects start */

.register-page_f_i18n-username-check-button:focus,
.register-page_f_i18n-submit-signup-button:focus {
  outline: none;
}

.register-check-button:hover {
  background-color: rgb(19, 80, 158);
}

.register-check-button:active {
  color: white;
}

.register-page_f_i18n-username-check-button[disabled]:hover,
.register-page_f_i18n-username-check-button[disabled]:active {
  background-color: rgb(65, 65, 65);
}

.register-page_f_opened-eye-icon:hover,
.register-page_f_opened-eye-icon:active,
.register-page_f_closed-eye-icon:hover,
.register-page_f_closed-eye-icon:active {
  fill: rgb(204, 204, 204);
}

.register-page_f_i18n-submit-signup-button:hover {
    background-color: rgb(19, 80, 158);
}

.register-page_f_i18n-submit-signup-button:active {
    color: white;
}

.register-page_f_i18n-submit-signup-button[disabled]:hover,
.register-page_f_i18n-submit-signup-button[disabled]:active {
  background-color: rgb(65, 65, 65);
  color: rgb(25, 25, 25);
}

.register-page_i18n-terms-of-service:hover,
.register-page_i18n-privacy-policy:hover,
.register-page_i18n-cookie-policy:hover {
    color: rgb(106, 170, 255);
}

.register-page_i18n-terms-of-service:active,
.register-page_i18n-privacy-policy:active,
.register-page_i18n-cookie-policy:active {
    font-weight: bold;
}

.register-page_f_tsb_i18n-signin-button:hover {
    color: rgb(52, 140, 255);
}

.register-page_f_tsb_i18n-signin-button:active {
    font-weight: bold;
}

/* effects end */
