.tune-window {
    display: none;
    position: absolute;
    left: -138px;
    top: 44px;
    z-index: 50;
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(77, 77, 77);
    width: 180px;
    max-height: calc(100vh - 84px);
}

.tune-window_scrollbar {
    max-height: calc(100vh - 84px);
}

.tune-window_container {
    padding: 8px;
}